body {
    text-align:left;
    margin-top: 20px;
    color:black;
    background:coral;
  }

  table {
    border-collapse: collapse;
    width: 600px;
    margin:10px;
    
  }

  tr {
    width: 600px;
    height: 10px;
    border: 2px solid #555;
    text-align: center;
    
  }

  td {
    width: 150px;
    height: 10px;
    border: 2px solid #555;
  }

  button.bt {
    background-color:aqua;
    border-radius: 8px;
    font-size: 16px 
  }
 
  h1.title {
    text-align: left;
    color: blue;
    margin:10px;
    font-size: 40px
  }